header {
    @include grid-container;
    position: relative;
    height: 72px;
    border-bottom: 2px solid $bc-lightgreen;
    a {
        display: inline-block;
        text-decoration: none;
    }
    .header-menu-icon {
        float: left;
        margin: 25px 0 0 16px;
        i.fa.fa-bars {
            color: $bc-darkgreen;
            font-size: 20.256px;
            margin-left: 2.5px; 
            float: left;
            clear: both;
        }
        span.header-menu-caption {
            font-size: 8.56px;
            font-weight: bold;
            color: $bc-darkgreen;
            float: left;
            clear: both;
        }
    }
    .header-logo {
        position: relative;
        left: calc(50% - 85px);
        img {
            height: 64px;
        }
    }
    .header-search-icon {
        float: right;
        margin: 23px 18px 0 0;
        i.fa.fa-search {
            color: $bc-darkgreen;
            font-size: 25.63px;
        }
    }
    .header-cart-icon {
        float: right;
        margin: 22px 16px 0 0;
        i.fa.fa-shopping-cart {
            color: $bc-darkgreen;
            font-size: 28.84px;
        }
    }
}